@charset "utf-8";

@font-face {
	font-family: Quicksand;
	src: url('Quicksand-Regular.woff') format('woff'),
		 url('Quicksand-Regular.ttf') format('truetype');
}

body > header > img {
	display: block;
	width: 100%;
 }

 body > header > nav.horizontalNavigation li {
	width: 20%;
 }

/* HTML and Body Styles */
html {
	background-color: hsl(0, 2%, 32%);
}

body {
	color: rgb(7, 6, 6);
	background-color: rgb(241, 166, 81);
	font-family: Verdana, Geneva, sans-serif;
}


/* Heading Styles */
h1 {
	font-size: 2.2em;
}

h2 {
	font-size: 1.5em;
}

h1, h2 {
	font-family: Quicksand, Verdena, Geneva, sans-serif;
	letter-spacing: 0.1em;
}

article#about_tss h1 {
	color: white;
	background-color: rgb(222, 128, 60);
}

article#about_tss h2 {
	color: white;
	background-color: rgb(131, 214, 235);
}

article.syllabus h1, article.syllabus h2, article.syllabus h3 {
	background-color: rgb(185, 218, 255);
	color: rgb(0, 0, 0);
}


/* Aside and Blockquote Styles */
aside {
	font-size: 0.8em;
}

aside blockquote {
	color: rgb(232, 165, 116);
	margin: 20px 5px;
	quotes: "\201c" "\201D";
}

aside blockquote::before {
	content: open-quote;
	font-family: 'Times New Roman', Times, serif;
	font-size: 1.6em;
	font-weight: bold;
}

aside blockquote:after{
	content: close-quote;
	font-family: 'Times New Roman', Times, serif;
	font-size: 1.6em;
	font-weight: bold;
}




/* Navigation Styles */	
nav {
	font-size: 0.8em;
}

nav > ul {
	line-height: 2em;
	list-style-type: none;
	padding-left: 5px;
}
nav ul li {
	display: table-cell;
	width: 15%;
	text-align: center;
	margin-right: 2%;
	border: thin solid rgba(127,96,17,1.00);
	border-collapse: collapse;
}
nav > ul > li.newgroup {
	margin-top: 20px;
}

nav > ul > li > a:link, nav > ul > li > a:visited {
	color: rgb(12, 12, 12);
	text-overflow: none;
} 

nav > ul > li a:hover, nav > ul > li > a:active {
	color: rgb(64, 163, 255);
	text-decoration: underline;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}


/* List Styles */

article#about_tss ul li:first-of-type {
	list-style-image: url(runicon.png);
}

article#about_tss ul li:nth-of-type(2) {
	list-style-image: url(bikeicon.png);
}

article#about_tss ul li:last-of-type {
	list-style-image: url(swimicon.png);
}

article.syllabus ol {
	list-style-type: upper-roman;
}

article.syllabu ol ol {
	list-style-type: upper-alpha;
}

article.syllabus ol ol ol {
	list-style-type: decimal;
}



/* Footer Styles */

body > footer address {
	background-color: rgb(222, 65, 60);
	color: white;
	color: rgba(255, 255, 255, 0.7);
	font: 	 0.9em/3em
			Quicksand, Verdana, Geneva, sans-serif;
	text-align: center;
}

footer {
	background-color: rgb(0, 0, 0);	
	color: white;	
	font-size: 0.7em;
	text-align: center;
	padding: 25px;
}

h4 {
	font-size: 1.3em;
	background-color: rgb(0, 0, 0);
	color: rgb(255, 255, 255);
 }
 aside {
	background-color: rgb(225, 165, 105);
	padding-bottom: 2em;
	margin-left: 1em;
 }
 dl {
	font-size: 0.9em;
 }
 
 dl > dt {
	color: black;
	margin: 1em;
	font-family: cursive;
 }
 
 dl > dd {
	margin: 0 1em 0 1em;
	color: rgb(0, 0, 0);
	font-family: cursive;
 }
 
  /* helpers/grid.css */
  
  .grid {
	inline-size: 90%;
	margin-inline: auto;
	max-inline-size: 48em;
  }
  
  /* helpers/sticky.css */
  
  .sticky {
	position: sticky;
	will-change: transform;
  }
  
  .sticky--top {
	top: 0;
  }
  
  /* layout/base.css */
  
  * {
	box-sizing: inherit;
  }
  
  html {
	box-sizing: border-box;
  }
  
  body {
	font-family: 'Roboto', sans-serif;
	line-height: 1.75;
	margin: 0;
	min-block-size: 100vh;
  }
  
  /* layout/header.css */
  
  .header {
	background-color: #fff;
	padding-block: 1em;
  }
  
  
  .header::after {
	bottom: 0;
	box-shadow: 0 0.0625em 0.5em rgba(0, 0, 0, 0.3);
	content: '';
	left: 0;
	opacity: 0;
	position: absolute;
	right: 0;
	top: 0;
	transition: opacity 0.3s;
	z-index: -1;
  }
  
  .header.is-active::after {
	opacity: 1;
  }
  
  /* layout/main.css */
  
  .main {
	padding-block: 6em;
  }
  
  /* modules/headline.css */
  
  h1 {
	margin-block: 0 0.5em;
  }
  
  /* modules/navigation.css */
  
  .navigation__list {
	list-style: none;
	margin: 0;
	padding: 0;
  }
  
  .navigation__list--inline {
	display: flex;
	gap: 1.5em;
  }
  
  .navigation__link {
	color: inherit;
	display: block;
	padding-inline: 1em;
	text-decoration: none;
  }
  
  
  /* modules/paragraph.css */
  
  p {
	padding-block: 1.5em;
  }